
<ul data-role="listview" data-inset="true">
    <li data-role="list-divider">Navigation</li>
    <li>@Html.ActionLink("Dashboard", "Index", "Dashboard")</li>
    <li>@Html.ActionLink("Fuel", "Index", "Fuel")</li>
</ul>