@{
    ViewBag.Title = "About";
}

<p>
     Welcome to the mobile web edition of MyCarProjects.net. Finally, iPhone and other smartphone users can have a great experience on the go. Even users with the official Android app will want to check this out.
</p>

<ul data-role="listview" data-inset="true">
    <li data-role="list-divider">Navigation</li>
    <li>@Html.ActionLink("Home", "Index", "Home")</li>
</ul>